h1, h3 {
    color: #005889;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

p, ul, a {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-right:50%;
}
.bar {
   height: 10px;
   width: 100%;
   background-color: #005889; 
}

.title{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}