body {
    font-family: Poppins; Roboto; sans-serif;
}


.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    font-weight: 100%;
    letter-spacing: 0px;
    box-sizing: border-box;
}

.nav-bar > div {
    display: flex;
    align-items: center;
}

.nav-bar a {
    margin: 0 25px;
}

#left {
    margin-left: 159px;
}

#right {
    margin-left: 779px;
}

.button1,
.button2,
.button3,
.button4 {v
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
}

.button1 {
    background-color: #02897A;
    color: #ffffff;
    border: none;
    height: 43px;
    min-width: 110px;
}

.button2 {
    background-color: #ffffff;
    border: 1px solid #BCD0E5;
    height: 43px;
    min-width: 110px;
    color: #173A56;
    margin-right: 25px;
}

.button3 {
    background-color: #02897A;
    color: #ffffff;
    border: none;
    height: 53px;
    min-width: 175px;
}

.button4 {
    background-color: #ffffff;
    color: #02897A;
    border: none;
    text-decoration-line: underline;
    font-weight: semibold;
}

.title1,
.title2 {
    font-family: Poppins, Roboto, sans-serif;
    color: #22343D;
}

.title1 {
    font-size: 40px;
    margin-top: 225px;
    line-height: 60px;
}

.title2{
    font-size: 32px;
    text-align: center;
    line-height: 100%;
    margin-top: 114px;
}

.paragraph-left,
.paragraph.right {
    line-height: 28px;
    font-size: 18px;
    max-width: 500px;
}

